<head>
    <link rel="stylesheet" type="text/css" href="/static/button_side.css">
</head>
<div class="button-side">
    <form action="/perfil" method="GET"><input class="button-profile" type="submit" value="Perfil"></form>
    <!--<a href= "http://localhost:8080/message"><input class="button-message" type="button" value="Mensagem"></a>-->
    <a href= "http://localhost:8080/minhas_vagas_user"><input class="button-my-jobs" type="button" value="Minhas Vagas"></a>
    <a href= "http://localhost:8080/minhas_paginas"><input class="button-pages" type="button" value="Páginas"></a>
    <a href= "http://localhost:8080/settings"><input class="button-settings" type="button" value="Configurações"></a>
</div>