<head>
    <link rel="stylesheet" type="text/css" href="/static/button_side.css">
</head>
<div class="button-side">
    <a href= "http://localhost:8080/editar_perfil"><input class="button-profile" type="button" value="Editar Perfil"></a>
</div>