<head>
    <link rel="stylesheet" type="text/css" href="/static/competence_area.css">
</head>
<div class="competence-area">
    <p class="title-main-text">Competências</p>
    <p class="number-competence">5</p><p class="info-competence">avaliações</p><br/>
    <p class="number-competence">1</p><p class="info-competence">idioma</p><br/>
    <p class="number-competence">3</p><p class="info-competence">habilidades</p><br/>
</div>