<head>
    <link rel="stylesheet" type="text/css" href="/static/create_publication.css">
</head>
<div class="publication">
    <input class="create-publication" type="text" placeholder="Criar publicação">
    <div class="icons-publication">
        <a href="http://www.google.com" class="icon-foto">
            <img src="/static/img/fotos.png"><p>Fotos</p>
        </a>
        <a href="http://www.google.com" class="icon-foto">
        <img src="/static/img/video.png"><p>Video</p>
        </a>
        <a href="http://www.google.com" class="icon-foto">
        <img src="/static/img/marcar_amigo.png"><p>Marcar</p>
        </a>
        <a href="http://www.google.com" class="icon-foto">
        <img src="/static/img/localizacao.png"><p>Localização</p>
        </a>
        <input class="publish" type="button" value="Publicar">
    </div>
</div>