<head>
    <link rel="stylesheet" type="text/css" href="/static/right_menu.css">
</head>
<div class="friends-zone">
    <h5>Amigos</h5>
    <div class="row">
        <div class="col-md-4">
            <a href="http://www.google.com">
                <img src="/static/img/perfil10.png" class="img-friends">
                <p>João Paulo</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.google.com">
                <img src="/static/img/perfil2.png" class="img-friends">
                <p>Aline Pereira</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.google.com">
                <img src="/static/img/perfil3.png" class="img-friends">
                <p>Enzo Paulo</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="http://www.google.com">
                <img src="/static/img/perfil4.png" class="img-friends">
                <p>Guilherme de Freitas</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.google.com">
                <img src="/static/img/perfil5.png" class="img-friends">
                <p>Rafaella Ferreira</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.google.com">
                <img src="/static/img/perfil6.png" class="img-friends">
                <p>Anya Ramos</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="http://www.google.com">
                <img src="/static/img/perfil7.png" class="img-friends">
                <p>Ariane Garcia</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.google.com">
                <img src="/static/img/perfil8.png" class="img-friends">
                <p>Felipe Lisboa</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.google.com">
                <img src="/static/img/perfil9.png" class="img-friends">
                <p>Antony Silva</p>
            </a>
        </div>
    </div>
</div>