<head>
    <link rel="stylesheet" type="text/css" href="/static/menu.css">
</head>
<div class="header-main">
    <div class="row">
        <div class="col-md-3">
            <a href="http://localhost:8080/feed_noticias">
                <img src="/static/img/logo.png" class="logo-header" type="button">
            </a>
            <div class="area-login-user">
                <p>Bem-vinda,</p> <class="nomeTeste" name="nomeTeste"></class>
            </div>
        </div>
        <div class="col-md-6-icons">
                <div class="icon-house">
                    <a href="http://localhost:8080/feed_noticias">
                        <img src="/static/img/house.png">
                        <p>Inicio</p>
                    </a>
                </div>
                <div class="icon-friends">
                    <a href="http://localhost:8080/amigos">
                        <img src="/static/img/amigos.png">
                        <p>Amigos</p>
                    </a>
                </div>
            <!--    <div class="icon-jobs">
                    <a href="http://localhost:8080/vagas">
                        <img src="static/img/vagas.png">
                        <p>Vagas</p>
                    </a>
                </div> -->
        </div>
        <div class="col-md-3-icons">
            <div class="icon-notifications">
                <img src="/static/img/notificacao.png">
                <p>Notificacao</p>
            </div>
            <div class="icon-exit">
                <form action="/logout" method="POST">
                    <button type="submit" class="exit">
                        <img src="/static/img/sair.png">
                    </button>
                    <p>Sair</p>
                </form>   
            </div> 
        </div>
    </div>
</div>