<head>
    <link rel="stylesheet" type="text/css" href="/static/user_area.css">
</head>
   <a href="http://localhost:8080/perfil">
        <img src="/static/img/school.jpg" class="img-profile" type="button">]
      
        <p class="nome-user"><%=cadastrosPaginas.titulo %></p>
    </a>
    <p class="info-user"><%=cadastrosPaginas.tipo %>, <%=cadastrosPaginas.cidade %></p>
    <p class="info-user"> </p>
    <p class="info-user-text"><%=cadastrosPaginas.descricao %></p>