<head>
    <link rel="stylesheet" type="text/css" href="/static/recommendations-friends.css">
</head>
<div class="recommendations-friends">
    <div class="recommendations-area">
        <h5>Pessoas que você talvez conheça</h5>
        <div class="row-recommendations">
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil10.png" class="img-friends">
                    <p>João Paulo</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil2.png" class="img-friends">
                    <p>Aline Pereira</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil3.png" class="img-friends">
                    <p>Enzo Paulo</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil10.png" class="img-friends">
                    <p>João Paulo</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil2.png" class="img-friends">
                    <p>Aline Pereira</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil3.png" class="img-friends">
                    <p>Enzo Paulo</p>
                </a>
            </div>
        </div>
    </div>
</div>