<head>
    <link rel="stylesheet" type="text/css" href="/static/recommendation_area.css">
</head>
<div class="recommendation-area">
    <p class="title-main-text">Recomendações</p>
    <div class="recommendation-one">
        <img src="static/img/perfil11.png" class="img-recommendation">
        <p class="info-competence"><b>Prof. Joaquim</b> - </p><p class="info-competence"><i>em 28/08/2021</i></p>
        <p class="info-competence-text">“É um aluno dedicado. Suas respostas refletem a sua capacidade e o conhecimento dele.  Será um otimo profissional.“</p><br/>
    </div>
    <div class="recommendation-one">
        <img src="static/img/perfil13.png" class="img-recommendation">
        <p class="info-competence"><b>Mariazinha</b> - </p><p class="info-competence"><i>em 05/03/2022</i></p>
        <p class="info-competence-text">“É um otimo colega de trabalho. Sabe trabalhar em grupo e ajuda nas tarefas.”</p><br/>
    </div>
</div>