<head>
    <link rel="stylesheet" type="text/css" href="/static/requests.css">
</head>
<div class="requests">
    <div class="requests-area">
        <h5>Solicitações</h5>
        <div class="dov-requests">
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil10.png" class="img-friends">
                    <p>João Paulo</p>
                </a>
                <div class="btn-requests">
                    <input class="btn-accept" type="button" value="Aceitar">
                    <input class="btn-delete" type="button" value="Excluir">
                </div>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil2.png" class="img-friends">
                    <p>Aline Pereira</p>
                </a>
                <div class="btn-requests">
                    <input class="btn-accept" type="button" value="Aceitar">
                    <input class="btn-delete" type="button" value="Excluir">
                </div>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil3.png" class="img-friends">
                    <p>Enzo Paulo</p>
                </a>
                <div class="btn-requests">
                    <input class="btn-accept" type="button" value="Aceitar">
                    <input class="btn-delete" type="button" value="Excluir">
                </div>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil10.png" class="img-friends">
                    <p>João Paulo</p>
                </a>
                <div class="btn-requests">
                    <input class="btn-accept" type="button" value="Aceitar">
                    <input class="btn-delete" type="button" value="Excluir">
                </div>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil2.png" class="img-friends">
                    <p>Aline Pereira</p>
                </a>
                <div class="btn-requests">
                    <input class="btn-accept" type="button" value="Aceitar">
                    <input class="btn-delete" type="button" value="Excluir">
                </div>
            </div>
            <div class="col-md-4">
                <a href="">
                    <img src="static/img/perfil3.png" class="img-friends">
                    <p>Enzo Paulo</p>
                </a>
                <div class="btn-requests">
                    <input class="btn-accept" type="button" value="Aceitar">
                    <input class="btn-delete" type="button" value="Excluir">
                </div>
            </div>
        </div>
    </div>
</div>