<head>
    <link rel="stylesheet" type="text/css" href="/static/search.css">
</head>
<div class="search">
    <div class="search_area">
        <input type="text" id="txtBusca" placeholder="Buscar"/>
        <img src="static\img\lupa.png" id="btnBusca" alt="Buscar"/>
    </div>
</div>