<head>
    <link rel="stylesheet" type="text/css" href="/static/user_area_edit.css">
</head>
<div class="info-user-area">
    <img src="static/img/perfil1.png" class="img-profile" type="button">
    <label for="imagemPhoto"><img src="static/img/camera.png" id="imgPhoto"></label>
    <input type="file" id="avatar-profile" name="img-profile" accept="image/*">
    <p class="nome-user">Usuário Teste</p>
    <p class="info-user">Estuda na escola Santa Catarina</p>
    <p class="info-user">Trabalha como jovem aprendiz na empresa Marcopolo S.A.</p>
    <p class="info-user">Caxias do Sul - Rio Grande do Sul - Brasil</p>
</div>