<head>
    <link rel="stylesheet" type="text/css" href="/static/right_menu.css">
</head>
<div class="vagas-zone">
    <h5>Vagas Disponibilizadas</h5>
    
         <p class="text-vagas"> Você ainda não anunciou nenhuma vaga.</p>
         <div class="button-side">
            <a href= "http://localhost:8080/incluir_vaga"><input class="button-page" type="button" value="Anunciar Vaga"></a>
           </div>
</div>