<head>
    <link rel="stylesheet" type="text/css" href="/static/win_area.css">
</head>
<div class="win-area">
    <p class="title-main-text">Conquistas</p>
    <p class="info-win">10 Questionarios Respondidos</p>
    <p class="info-win">Respondeu a 3 foruns de ajuda</p>
    <p class="info-win">2 cursos complementares</p>
</div>

