<!doctype html>
<head>
    <%- include('./partials/head'); %>
    <title>Esqueci Minha Senha</title>
    <link rel="stylesheet" type="text/css" href="/static/esqueci_senha.css">
</head>
<body>
    <div class="container">
        <!--espaçamento inicial/final-->
        <div class="row">
            <div class="col-md-12">
                <div class="espaco"></div>
            </div>
        </div>
         <!--fim espaçamento inicial/final-->

        <div class="area-cadastro">
                    <div class="row">
                        <div class="col-md-12-logo-principal">
                            <img src="static/img/logo-include.png">

                            <h5>Esqueceu sua senha?</h5>
                            <h6>Insira seu e-mail para que possamos ajudar a recuperar sua senha.</h6>
                        </div>
                    </div>
                <div class="col-md-12">
                        <input class="input-text-cadastro2" type="text" id="email" placeholder="Email">       
                </div>
                <div class="col-md-12-botoes">
                    <input class="botaoredefinir" type="button" value="Enviar">
                    <input class="botaovoltar" type="button" value="Voltar">
                </div>
        </div>
         <!--espaçamento inicial/final-->
        <div class="row">
            <div class="col-md-12">
                <div class="espaco"></div>
            </div>
        </div>
         <!--fim espaçamento inicial/final-->
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
