<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include('./partials/head'); %>
    <title>Include - Login</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">

</head>
<body>
    <div class="container">
        <!--espaçamento inicial/final-->
        <div class="row">
            <div class="col-md-12">
                <div class="espaco"></div>
            </div>
        </div>
         <!--fim espaçamento inicial/final-->

        <div class="logo-principal">
            <div class="row">
                <div class="col-md-12">
                    <img src="static/img/logo-include.png">
                    <h3>Um novo jeito de se conectar com o seu futuro!</h3>
                </div>
            </div>
        </div>
        
            <div class="area-login">
                <form action="/login" method="POST">
                        <div class="col-md-12">
                            <fieldset class="login">
                                <input class="email" type="text" name="email" placeholder="email">    
                                <input class="senha" type="password" name="password" placeholder="senha">
                                <a href="http://localhost:8080/esqueci_senha">Esqueci minha senha</a>
                            </fieldset>
                                <input class="buttonlogin" type="submit" onclick="fazerLogin" value="Entrar">
                        </div>
                </form>
                <% if(message) { %>
                    <p>
                    <label style="color:Red"><%= message %></label>
                    </p>
                <%}%>
    

                <div class="row">
                    <div class="col-md-9-entrar">
                        <p> Não possui uma conta? <a href="http://localhost:8080/cadastro"> Cadastre-se </a></p>
                    </div>
                </div>
            </div>
        </div>
         <!--espaçamento inicial/final-->
        <div class="row">
            <div class="col-md-12">
                <div class="espaco"></div>
            </div>
        </div>
         <!--fim espaçamento inicial/final-->
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
