*{
    margin: 0;
    padding: 0;
}

body {
    background: url(img/background.png) no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

.container {
    background: rgba(79,81,93,0.7);
    background-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 650px;
    margin-top:50px;
    border-radius:15px;
}

.espaco{ 
    height: 100px;
}

.col-md-12-logo-principal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 35px;
    width: 50%;
}

.col-md-12-logo-principal h5,h6{
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-top:15px;
}

input.botaoredefinir, .botaovoltar{
    width: 150px;
    height: 30px;
    border-radius: 30PX;
    margin-top: -35px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #fff;
}

input.botaovoltar{
    background-color: #D62A76;
}

input.botaoredefinir{
    background-color: #42C16C;
}

input.botaoredefinir:hover{
    background-color: #48887B;
    transition: all 0.3s linear;
}

input.botaovoltar:hover{
    background-color: #A8518A;
    transition: all 0.3s linear;
}

.col-md-12-botoes {
    margin-left: 150px;
}


.area-cadastro input::placeholder{
    color: #fff;
}

input.input-text-cadastro2{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin-bottom: 35px;
    margin-top: 25px;
    text-indent: 10px;
    background: #C4C4C4;
}

fieldset{
    border: none;
}